    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About me</h2>
                <!--<p>I am passionate software engineer with 7+ years of experience. As a developer, I am a Spring Framework <strong>advocate</strong> being up to date with its rich ecosystem.-->
                    <!--As a team leader, I love to <strong>share my knowledge</strong> and skills with others.</p>-->

                <!--<p>I am interested in <strong>distributed systems</strong> and <strong>microservices</strong> architecture. Thus, building large resilient and scalable e-commerce system is my daily job at Allegro.</p>-->
                <!--<p>I am a <strong>creator</strong> and co-maintainer of <a href="https://github.com/spring-petclinic/spring-petclinic-microservices">Spring Petclinic Microservices</a> repository which you may know already.</p>-->


                <!--<p>During my carrier, I have worked on both huge monolithic systems and distributed microservice-based architectures.</p>-->
                <!--<p>No matter what architecture is used, I always focus on <strong>quality, design and testability</strong> of a system.</p>-->

                <!--<p>Application architecture, design and testability</p>-->
                <!--<p>Spring advocate</p>-->

                <!--<p>If you want to... , I am reaedy to help you to become a <strong>Spring expert</strong>.</p>-->
                </div>
        </div>
    </section>