<!-- Download Section -->
<section id="teaching" class="content-section">
    <div class="teaching-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="text-center">
                <h2>Teaching</h2>
                </div>
                <!--
                <p>
                    A typical teaching session is conducted in English using Skype or other tool of your choice.
                    During a meeting we can discuss following topics:
                    <ul class="teaching-topics">
                        <li>
                            <i class='fa fa-arrow-circle-o-right'></i> <strong>Software Developer Toolset</strong> - designing systems using timeless OOP principles and Test-Driven Development
                        </li>
                        <li>
                            <i class='fa fa-arrow-circle-o-right'></i> <strong>Spring Framework</strong> - how to create well designed and testable Spring applications
                        </li>
                        <li>
                            <i class='fa fa-arrow-circle-o-right'></i> <strong>Spring Boot</strong> - building microservices and dealing with autoconfigurations
                        </li>
                        <li>
                            <i class='fa fa-arrow-circle-o-right'></i> <strong>Spring Cloud</strong> - couping with typical challenges related with cloud environment
                        </li>
                        <li>
                            <i class='fa fa-arrow-circle-o-right'></i> <strong>Going Reactive</strong> - how Spring supports building scalable reactive applications
                        </li>
                    </ul>
                </p>
                <p>
                    Alternatively, we can spend our time to solve a problem that is more complex and challenging. <strong>It is up to you!</strong>
                </p>
                -->
            </div>
        </div>
    </div>
</section>